:root {
/* Background colors */
    --bg-dark-0: #060518;
    --bg-dark-5: #0E0C2D;
    --bg-dark-10: #16134D;
    --bg-dark-blue: #050064;
    --bg-gradient: linear-gradient(180deg,
    	var(--bg-dark-0) 0%,
	var(--bg-dark-5) 60%,
	var(--bg-dark-blue) 100%);

/* Font size */
    --fs-text: 20px;
    --fs-button: 30px;
    --fs-title: 54px;
}

html {
    height: 100%;
}

body {
    height: 100%;
    background-image: var(--bg-gradient);
    background-color: var(--bg-dark-blue);
    background-repeat: no-repeat;
    font-family: 'JetBrains Mono';
    font-size: var(--fs-text);
    font-weight: 500;
    color: #fff;
    margin-top: 35px;
    margin-left: 83px;
    margin-right: 83px;
}

.main {
}

.header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin-bottom: 153px;
}

.logo {
    font-size: 20px;
}

.nav {}

.nav__list {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav__item {
    margin-left: 50px;
}

.nav__link {
    padding: 5px;
    color: white;
    text-decoration: none;
    transition: 50ms;
}

.nav__link:hover {
    border-bottom: 2px solid white;
}

.main {
   display: grid;
   grid-template-columns: 1fr 1fr;
   grid-gap: 50px;
   align-items: center;
}

.content {
    grid-column: 1 / 2;
}

.title {
    font-size: var(--fs-title);
}

.text {
    width: max(390px)
}

.desktop-container {
    position: relative;
    top: -55%;
    left: 50px;
    grid-column: 2 / 2;
}

.desktop {
    width: 550px;
    position: absolute;
    transition: all 0.1s ease-in-out;
    filter: brightness(95%);
}

.desktop:nth-child(1) {
    top: 0;
    left: 0;
}

.desktop:nth-child(2) {
    top: 50px;
    left: -50px;
}

.desktop:nth-child(3) {
    top: 140px;
    left: 35px;
}

.desktop:hover {
    transform: scale(1.02);
    filter: brightness(100%);
}

/* @media (max-width: 911px) { */

